<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Menu de control de inventario</title>
    <link rel="stylesheet" href="/css/listarProductosStyle.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/962e5cda46.js" crossorigin="anonymous"></script>

</head>
<body>   
    <div class="main">
        <div class="main__titulo">Lista de productos</div>
        <div class="main__contenido">
           <div class="main__form">
               <form action="">
                    <div class="main__formInput">
                        <label for="">Tipo de producto: </label>
                        <div class="box">
                            <select name="" id="" onChange="window.location.href=this.value">
                            	<option selected>Categoria</option>
                                <option th:each="categorias : ${categorias}" th:text="${categorias.ncategoria}" th:value="@{'/listarproductos/'+${almacen.CAlmacen}+'/categoria/'+${categorias.ccategoria}}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="main__formInput">
                        <label for="">Color: </label>
                        <div class="box">
                            <select name="" id="" onChange="window.location.href=this.value">
                            	<option selected>Color</option>
                                <option th:each="colores : ${colores}" th:text="${colores.ncolores}" th:value="@{'/listarproductos/'+${almacen.CAlmacen}+'/color/'+${colores.ccolor}}"></option>
                            </select>
                        </div>
                    </div>
               </form>

           </div>
        
           <div class="main__table">
               <table class="table__content">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Capacidad (L)</th>
                            <th>Color</th>
                            <th>Stock</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="productos:${productos}">
                            <td th:text="${productos.producto.cproducto}"></td>
                            <td th:text="${productos.producto.categoria.ncategoria}"></td>
                            <td th:text="${productos.producto.numcapacidadlitros}"></td>
                            <td th:text="${productos.producto.color.ncolores}"></td>
                            <td th:text="${productos.StockProducto}"></td>
                                                 
                        </tr>
                    </tbody>
               </table>
           </div>
        </div>
        <div class="footer">
            <a th:href="@{'/seleccionAlmacen/'+${almacen.CAlmacen}}"><button class="button-base">Atrás</button></a>
        </div>
    </div>

  
</body>

</html>