 S<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registrarProductoStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Añadir producto</title>
</head>
<body>
   <div class="main">
        
        <div class="main__titulo">Registro de nuevo producto</div>

        <form th:action="@{'/crear/'+${almacen.CAlmacen}+'/'+${#request.userPrincipal.principal.getID}}" th:object="${nuevo_producto}" class="main__formRegistrarProducto", method="post">
        
          <!--  <div class="formInput">
                <label for="">Código: </label><input type="text">
                
            </div> -->  
            
            
            <input type="text" class="form-control" th:field="*{cproducto}" hidden = "true">
            
            <input type="text" class="form-control" th:field="*{nproducto}" hidden = "true">
            <div class="formInput">
                <label for="">Categoría: </label>
                <div class="box">
                    <select name="" id="" th:field="*{categoria}" >
                        <option th:each ="categoria : ${categorias}"
                        			     th:value = "${categoria.ccategoria}"
                        			     th:text = "${categoria.ncategoria}">Cisterna</option>
                    </select>
                </div>
            </div>
    		<input type="text" class="form-control" th:object="${nuevo_detalle}" th:field="*{producto.cproducto}" hidden =" true">
            <input type="text" class="form-control" th:object="${nuevo_detalle}" th:field="*{almacen.CAlmacen}" hidden = "true">
            
             <input type="text" class="form-control" th:object="${almacen}" th:field="*{CAlmacen}" hidden = "true">
            
               	
    
              <div class="formInput">
              <div class="alert alert-danger" th:if="${#fields.hasErrors('numcapacidadlitros')}" th:errors= "*{numcapacidadlitros}">...</div>
                <label for="">Capacidad (L): </label><input class="controls" type="text" name="numcapacidadlitros" id="numcapacidadlitros" th:field="*{numcapacidadlitros}" required autofocus pattern="[0-9]+" title="La capacidad debe ser mayor a 0">
            </div>
            
 			<div class="formInput">
                <label for="">Categoría: </label>
                <div class="box">
                    <select name="" id="" th:field="*{color}" >
                        <option th:each ="color : ${colores}"
                        			     th:value = "${color.ccolor}"
                        			     th:text = "${color.ncolores}">Cisterna</option>
                    </select>
                </div>
            </div>
            
 
            <div class="formInput">
         
                <label for="">Stock inicial: </label><input class="controls" type="text" th:object="${nuevo_detalle}" id="StockProducto" name="StockProducto" th:field="*{StockProducto}"required autofocus pattern="[0-9]+" title="El Stock debe ser mayor a 0">
            </div>
                 

        <div class="main__cambioPagina">
            <div class="formAtras">
                <a href="menuControlInventario.html"><button class="button-base">Atrás</button></a>
            </div>
            <div class="formRegistrar">
                
            </div>
        
        </div>  
        
        <button class="button-base" type="submit">Registrar</button>
        </form>
        
    </div>
    
</body>
</html>