<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Sign up</title>
</head>
<body>
   <div class="main">
        <img src="img/rotoplas-logo.png" alt="rotoplas-logo" class="formLogo">
        <form action="" class="formLogin">
            <div class="formInput">
                <label for="">DNI: </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Usuario: </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Contraseña: </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Dirección: </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Número de celular: </label><input type="text">
            </div>
        </form>

        <div class="formMain">
            <div class="formRegistrar">
                <a href="index.html"> <button class="button-base">Atras</button></a>
            </div>
            <div class="formIngresar">
                <a href="index.html"> <button class="button-base" type="submit">Crear cuenta</button></a>
            </div>
        </div>  
    </div>
</body>
</html>