<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registrarProductoStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Log in</title>
</head>
<body>
   <div class="main">
        
        <div class="main__titulo">Registro de nuevo producto</div>

        <form action="" class="main__formRegistrarProducto">
            <div class="formInput">
                <label for="">Código: </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Categoría: </label>
                <div class="box">
                    <select name="" id="">
                        <option value="">Cisterna</option>
                        <option value="">Bomba</option>
                        <option value="">Filtro</option>
                    </select>
                </div>
            </div>
            <div class="formInput">
                <label for="">Capacidad (L): </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Color: </label><input type="text">
            </div>
            <div class="formInput">
                <label for="">Stock inicial: </label><input type="text">
            </div>
        </form>

        <div class="main__cambioPagina">
            <div class="formAtras">
                <a href="menuControlInventario.html"><button class="button-base">Atrás</button></a>
            </div>
            <div class="formRegistrar">
                <a href="menuControlInventario.html"><button class="button-base" type="submit">Registrar</button></a>
            </div>
        
        </div>  
    </div>
    
</body>
</html>