<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/seleccionAlmacenStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Seleccion de almacén</title>
</head>
<body>
   
    <div class="Encabezado">
        <img src="img/rotoplas-logo.png" alt="rotoplas-logo" class="logo">
        <div>Área de Control de Inventarios</div>
        <a th:href="@{'/index'}"><button class="button-base">Cerrar sesión</button></a>
    </div>
    <div class="main">
        <div class="bienvenida">BIENVENIDO ADMINISTRADOR <span sec:authentication="name"></span></div>
        <div class="titulo">Selección de almacen</div>
        <div class="texto">Seleccione el almacen con el que desea trabajar</div>
        <div class="box">
            <select name="" id="" onchange="window.location.href=this.value">
                <option th:each="almacenes:${almacenes}" th:value="@{'/seleccionAlmacen/'+${almacenes.CAlmacen}}" th:text="'Almacen '+${almacenes.distrito.NDistrito}">a</option>
            </select>
        </div>
        <div class="footer">
            <a th:href="@{'/index'}"><button class="button-base">Atrás</button></a>
        </div>
    </div>
</body>
</html>