<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modificarStockForm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Transferir stock</title>
</head>
<body>
   <div class="main">
        
        <div class="main__titulo">Transferir Stock</div>

        <form th:action="@{/transferir/transferir_stock}" th:object="${transferencia}" class="main__formRegistrarProducto", method="post">
        
         	<input type="text" class="form-control" th:field="*{CTransferencia}" hidden=true>
        	<input type="text" class="form-control" th:field="*{almacen_local}" hidden=true>
        	<input type="text" class="form-control" th:field="*{producto}" hidden=true>
        	
            <div class="formInput excusa">
            	<label for="">Seleccione al alamacén: </label>
            	
				<select name="" id="" th:field="*{almacen_destino}">
				
					<option th:each="almacenes:${almacenes}"
						th:value="${almacenes.CAlmacen}"
						th:text="'Almacen '+${almacenes.distrito.NDistrito}">a</option>
						
				</select>
			</div>
            
             <div class="formInput">
                <label for="">Cantidad a transferir: </label><input type="text" th:field="*{cantidad}"required autofocus pattern="[0-9]+" title="El stock a transferir debe ser mayor o igual 0">
            </div>
       
            <a href="menuControlInventario.html"><button class="button-base" type="submit">Registrar</button></a>

        </form>


    </div>
    
</body>
</html>