<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Menu de control de inventario</title>
    <link rel="stylesheet" href="css/transferirStockOtroAlmacenStyle.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/962e5cda46.js" crossorigin="anonymous"></script>

</head>
<body>   
    <div class="main">
        <div class="main__titulo">Transferir stock a otro almacén</div>
        <div class="main__contenido">
           <div class="main__form">
               <form action="">
                    <div class="main__formInput">
                        <label for="">Destino: </label>
                        <div class="box">
                            <select name="" id="">
                                <option value="">Almacén Lima</option>
                                <option value="">Almacén Comas</option>
                                <option value="">Almacen Jesus María</option>
                            </select>
                        </div>
                    </div>
                    <div class="main__formInput">
                        <label for="">Cantidad a transferir: </label><input type="text">
                    </div>
               </form>
           </div>
           <div class="main__table">
               <table class="table__content">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Capacidad (L)</th>
                            <th>Color</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tanque</td>
                            <td>8</td>
                            <td>Rojo</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Tanque</td>
                            <td>10</td>
                            <td>Verde</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cisterna</td>
                            <td>20</td>
                            <td>Rojo</td>
                            <td>650</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cisterna</td>
                            <td>20</td>
                            <td>Rojo</td>
                            <td>650</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cisterna</td>
                            <td>20</td>
                            <td>Rojo</td>
                            <td>650</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cisterna</td>
                            <td>20</td>
                            <td>Rojo</td>
                            <td>650</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cisterna</td>
                            <td>20</td>
                            <td>Rojo</td>
                            <td>650</td>
                        </tr>
                    </tbody>
               </table>
           </div>
        </div>
        <div class="footer">
            <a href="menuControlInventario.html"><button class="button-base">Atrás</button></a>
            <a href="menuControlInventario.html"><button class="button-base">Transferir</button></a>
        </div>
    </div>

  
</body>

</html>